# Firebase Configuration
FIREBASE_PROJECT_ID=YOUR_PROJECT_ID

# Google Gemini API Configuration
FIREBASE_CONFIG_GEMINI_API_KEY=YOUR_GEMINI_API_KEY_HERE
FIREBASE_CONFIG_GEMINI_ENDPOINT=https://generativelanguage.googleapis.com/v1/models/gemini-2.5-flash:generateContent

# Google Cloud AutoML Configuration
AUTOML_ENDPOINT=YOUR_AUTOML_ENDPOINT_URL_HERE
AUTOML_MODEL_ID=YOUR_AUTOML_MODEL_ID_HERE
PROJECT_ID=YOUR_GOOGLE_CLOUD_PROJECT_ID_HERE
REGION=YOUR_MODEL_REGION_HERE

# Service Account Configuration
SERVICE_ACCOUNT_EMAIL=YOUR_SERVICE_ACCOUNT_EMAIL_HERE
SERVICE_ACCOUNT_PRIVATE_KEY=YOUR_SERVICE_ACCOUNT_PRIVATE_KEY_HERE

# Google Maps API Configuration
GOOGLE_MAPS_API_KEY=YOUR_GOOGLE_MAPS_API_KEY_HERE
